<div class="row">
  <div class="col-sm-12">
    <h3><i class="fa fa-arrow-left link" aria-hidden="true" (click)="back()"></i></h3>
  </div>
</div>
<h3>{{title}} {{autor ? ': ' + autor.firstName : ''}}</h3>
<form [formGroup]="form">
  <div class="form-group">
    <label for="firstName">Nome:</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName" (focusout)="validateField('firstName')">
    <p *ngIf="errors.firstName">{{errors.firstName}}</p>
  </div>
  <div class="form-group">
    <label for="lastName">Sobrenome:</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName" (focusout)="validateField('lastName')">
    <p *ngIf="errors.lastName">{{errors.lastName}}</p>
  </div>
  <button type="submit" class="btn btn-default" (click)="salvar()">Salvar</button>
</form>
