<div class="row">
  <div class="col-sm-12">
    <h3><i class="fa fa-arrow-left link" aria-hidden="true" (click)="back()"></i></h3>
  </div>
</div>
<h3>{{title}} {{book ? ': ' + book.title : ''}}</h3>
<form [formGroup]="form">
  <div class="form-group">
    <label for="titulo">Título:</label>
    <input type="text" class="form-control" id="titulo" formControlName="titulo" (focusout)="validateField('titulo')">
    <p *ngIf="errors.titulo">{{errors.titulo}}</p>
  </div>
  <div class="form-group">
    <label for="autor">Autor:</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="autor" formControlName="autor"
            (focusout)="validateField('autor')" [ngModel]="author.id">
      <option selected></option>
      <option *ngFor="let obj of authors" [value]="obj.id">{{obj.firstName}}</option>
    </select>
    <p *ngIf="errors.autor">{{errors.autor}}</p>
  </div>
  <button type="submit" class="btn btn-default" (click)="salvar()">Salvar</button>
</form>
